<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
         metadata-complete="false"
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
        <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>servlet.ProductController</servlet-class>
        <!--<servlet-name>ConnectionController</servlet-name>
        <servlet-class>servlet.ConnectionController</servlet-class>-->
        <!--<servlet-class>servlet.ConnectionController</servlet-class>-->
        <!-- Les identifiants pour se connecter -->
        <init-param>
            <param-name>loginAdmin</param-name>
            <param-value>Admin</param-value>
        </init-param>
        <init-param>
            <param-name>passwordAdmin</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>ID</param-name>
            <param-value>Mr Admin</param-value>
        </init-param>
    </servlet>
    
   
    <!-- Un filtre qui vérifie que l'utilisateur est connecté 
    <filter>
        <filter-name>ProtectedPagesFilter</filter-name>
        <filter-class>filters.ProtectedPagesFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ProtectedPagesFilter</filter-name>
        <url-pattern>/protected/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
-->
    <!-- Contrôle le temps au bout duquel une session inactive est détruite automatiquement -->
    <session-config>
        <!-- Un temps volontairement court : 1 minute -->
        <session-timeout>60</session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>Produits.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>
                 servlet.ApplicationListener
        </listener-class>
    </listener>
</web-app>
